# [dbo].[Categoria]

In [0]:
USE [Ventas]
GO

In [0]:
SET IDENTITY_INSERT [dbo].[Categoria] ON 
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (1, N'HM', N'HERRAMIENTAS MANUALES')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (2, N'HE', N'HERRAMIENTAS ELÉCTRICAS')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (3, N'FC', N'FERRETERÍA PARA LA CONSTRUCCIÓN')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (4, N'SF', N'SUMINISTROS PARA FONTANERÍA')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (5, N'SE', N'SUMINISTROS ELÉCTRICOS')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (6, N'PYC', N'PINTURA Y ACABADOS')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (7, N'SYP', N'SEGURIDAD Y PROTECCIÓN')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (8, N'JYE', N'JARDINERÍA Y EXTERIOR')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (9, N'AYO', N'ALMACENAMIENTO Y ORGANIZACIÓN')
INSERT [dbo].[Categoria] ([idcategoria], [nombre], [descripcion]) VALUES (10, N'DDI', N'DECORACIÓN Y DISEÑO DE INTERIORES')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO

# [dbo].[presentacion]

In [0]:
SET IDENTITY_INSERT [dbo].[presentacion] ON 
INSERT [dbo].[presentacion] ([idpresentacion], [nombre], [descripcion]) VALUES (1, N'UND', N'UNIDAD')
INSERT [dbo].[presentacion] ([idpresentacion], [nombre], [descripcion]) VALUES (2, N'GL', N'GALON')
INSERT [dbo].[presentacion] ([idpresentacion], [nombre], [descripcion]) VALUES (3, N'LT', N'LATA')
INSERT [dbo].[presentacion] ([idpresentacion], [nombre], [descripcion]) VALUES (4, N'PQT', N'PAQUETE')
INSERT [dbo].[presentacion] ([idpresentacion], [nombre], [descripcion]) VALUES (5, N'LB', N'LIBRA')
INSERT [dbo].[presentacion] ([idpresentacion], [nombre], [descripcion]) VALUES (6, N'KG', N'KILO GRAMO')
SET IDENTITY_INSERT [dbo].[presentacion] OFF
GO

# [dbo].[articulo]

In [0]:
SET IDENTITY_INSERT [dbo].[articulo] ON 
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (3, N'ART00000', N'PINTURAS POPULAR', N'UN GALON DE PINTURA BLANCA', NULL, 6, 1)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (4, N'ART00001', N'PINTURA POPULAR', N'COLOR AZUL (1 GL)', NULL, 6, 1)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (5, N'ART00002', N'CLAVOS TITAN', N'CLAVOS DE ACERO DE UNA PULGADA', NULL, 3, 5)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (6, N'ART00003', N'CLAVO TITAN', N'CLAVOS DE ACERO DE DOS PULGADAS', NULL, 3, 5)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (7, N'ART00004', N'Martillo de carpintero', N'Martillo de carpintero de 16 oz con mango de madera resistente.', NULL, 2, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (8, N'ART00005', N'Juego de destornilladores de precisión', N'Juego de 6 destornilladores de precisión con puntas intercambiables para trabajos delicados.', NULL, 2, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (9, N'ART00006', N'Llave ajustable de 10"', N'Llave ajustable de 10" con mecanismo de trinquete para un ajuste rápido y preciso.', NULL, 2, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (10, N'ART00007', N'Sierra de mano plegable', N'Sierra de mano plegable con hoja dentada de acero para cortes limpios en madera y metal.', NULL, 2, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (11, N'ART00008', N'Alicate de punta larga', N'Alicate de punta larga de 6" para trabajos de agarre y torsión en espacios estrechos.', NULL, 2, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (12, N'ART00009', N'Taladro percutor de 18V', N'Taladro percutor inalámbrico de 18V con velocidad variable y función de percusión para perforaciones precisas.', NULL, 3, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (13, N'ART00010', N'Sierra circular de 7-1/4"', N'Sierra circular de 7-1/4" con guía láser y ajuste de profundidad para cortes precisos en madera y otros materiales.', NULL, 3, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (14, N'ART00011', N'Pulidora orbital de 6"', N'Pulidora orbital de 6" con velocidad variable y almohadillas de pulido para darle brillo a superficies.', NULL, 3, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (15, N'ART00012', N'Lijadora orbital aleatoria', N'Lijadora orbital aleatoria de 5" con recolección de polvo y sistema de fijación de lijas.', NULL, 3, 3)
INSERT [dbo].[articulo] ([idarticulo], [codigo], [nombre], [descripcion], [imagen], [idcategoria], [idpresentacion]) VALUES (16, N'ART00013', N'Pistola de calor de 1500W', N'Pistola de calor de 1500W con ajuste de temperatura y flujo de aire para trabajos de secado y encogimiento.', NULL, 3, 3)
SET IDENTITY_INSERT [dbo].[articulo] OFF
GO

# [dbo].[cliente]

In [0]:
SET IDENTITY_INSERT [dbo].[cliente] ON 
INSERT [dbo].[cliente] ([idcliente], [nombre], [apellidos], [sexo], [fecha_nacimiento], [tipo_documento], [num_documento], [direccion], [telefono], [email]) VALUES (1, N'JUAN JOSE', N'HERNANDEZ', N'M', CAST(N'1995-04-12' AS Date), N'CEDULA', N'09300765463', N'CALLE LA ESPERANZA #77', N'8096553425', NULL)
INSERT [dbo].[cliente] ([idcliente], [nombre], [apellidos], [sexo], [fecha_nacimiento], [tipo_documento], [num_documento], [direccion], [telefono], [email]) VALUES (2, N'MERCEDES', N'CAMILO', N'F', CAST(N'1990-01-10' AS Date), N'RNC', N'130762562', N'AVENIDA PRINCIPAL', N'8293647312', N'mercedes@hotmail.com')
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO

# [dbo].[empleado]

In [0]:
SET IDENTITY_INSERT [dbo].[empleado] ON 
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (1, N'JOSE', N'PEREZ', N'M', CAST(N'1990-10-20' AS Date), N'9300687598', N'CALLE PRIMERA LA CARTONERA', N'8298811831', N'joseperez8715@gmail.com', N'Administrador', N'admin', N'admin')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (2, N'JUAN', N'SANTOS', N'M', CAST(N'2000-02-09' AS Date), N'9837746652', N'CALLE PRIMERA LA CARTONERA', NULL, NULL, N'Vendedor', N'jose', N'1234')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (3, N'MARCELA', N'ADAMEZ', N'F', CAST(N'2000-02-09' AS Date), N'4028466536', NULL, NULL, NULL, N'Almacenista', N'luis', N'1234')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (4, N'JOSE LUIS', N'PEREZ', N'M', CAST(N'2000-01-05' AS Date), N'4038723787', NULL, NULL, NULL, N'Administrador', N'admin2', N'1234')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (5, N'DEMETRIO', N'CASILLA', N'M', CAST(N'2000-01-20' AS Date), N'3453453453', NULL, NULL, NULL, N'Vendedor', N'jose2', N'1234')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (6, N'MARCELINO', N'LOPEZ', N'M', CAST(N'1990-01-16' AS Date), N'3463678972', NULL, NULL, NULL, N'Almacenista', N'luis2', N'1234')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (7, N'PACHECO', N'CAMEJO', N'M', CAST(N'1987-10-27' AS Date), N'9300256587', NULL, NULL, NULL, N'Vendedor', N'camejo', N'2023')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (8, N'PEDRO', N'PALERMO', N'M', CAST(N'2000-01-01' AS Date), N'3489387494', NULL, NULL, NULL, N'Vendedor', N'palermo', N'1234')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellidos], [sexo], [fecha_nac], [num_documento], [direccion], [telefono], [email], [acceso], [usuario], [password]) VALUES (9, N'JUANCITO', N'CARVAJAR', N'M', CAST(N'2000-01-01' AS Date), N'2382763872', NULL, NULL, NULL, N'Vendedor', N'carvajar', N'2222')
SET IDENTITY_INSERT [dbo].[empleado] OFF
GO

# [dbo].[proveedor]

In [0]:
SET IDENTITY_INSERT [dbo].[proveedor] ON 
INSERT [dbo].[proveedor] ([idproveedor], [razon_social], [sector_comercial], [tipo_documento], [num_documento], [direccion], [telefono], [email], [url]) VALUES (2, N'IMPORTADORA AMERICANA', N'TECNOLOGIA', N'RCN', N'132258964', N'CALLE PRINCIPAL # 13', N'8298811831', N'joseperez8715@gmail.com', NULL)
INSERT [dbo].[proveedor] ([idproveedor], [razon_social], [sector_comercial], [tipo_documento], [num_documento], [direccion], [telefono], [email], [url]) VALUES (3, N'LAVANDERIA CARRASCO', N'SERVICIOS', N'RCN', N'131556987', N'CALLE LAS AMERICAS', N'8095326698', NULL, NULL)
SET IDENTITY_INSERT [dbo].[proveedor] OFF
GO